h1.forgotPass {
    color: #00286B;
    text-align: center;
    font-family: Lexend;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.25px;
}