
.HomeHome{
    background-image: linear-gradient(180deg, rgb(230, 239, 255) 0%, rgb(255, 255, 255) 100%);
}


.HomePage {
    background: linear-gradient(180deg, rgb(230, 239, 255) 0%, rgb(255, 255, 255) 100%);
    font-family: lexend ;
    background-image: url('assets/first\ blob.png'), url('assets/second\ blob.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left top,right bottom;
    width: 100%, 100%;
    background-size: 20%, 30%; 

}

#healthy .HomePage {
    background-image: url('assets/first\ blob.png'), url('assets/second\ blob.png');
}

#sick .HomePage {
    background-image: url('assets/red_first_blob.png'), url('assets/red_second_blob.png');
}

.HomeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center ; 
    align-content: center;
    
}

.navBar-item{
    display: flex;

}





.upper-container {
    color:#01358C;
    margin-top: 24px;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.upper-heading2{
    font-size: x-large;
    font-weight: 700;
    margin-top: 10px;
    display: flex;
    flex-direction: column;

}

.cond-status-container {
    display: flex;
    flex-direction: column;
}

.condition-status{
    color:rgb(22, 195, 22);
    /* font-weight: 900; */
}

#healthy .condition-status{
    color:rgb(22, 195, 22);
}

#sick .condition-status{
    color: red;
}

.upper-left{
    display: flex;
    flex-direction: column;
    flex: 20%;
}
.upper-mid{
    display: flex;
    flex-direction: column;
    flex: 60%;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }

.upper-right{
    display: flex;
    flex-direction: row;
    flex: 20%;
    padding: 20px;   
    justify-items: center ;
    min-width: 200px;
}

.lower-container{
    color:#01358C;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: row;
    /* justify-content: flex-start; */
    
}

.lower-left{
    display: flex;
    flex-direction: column;
    flex: 22.5%;
    align-items: center;
    /* justify-items: center; */
    /* justify-content: center; */
    margin-top: 20vh;
    padding-right: 20px;
}

.inner-lower-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items : center;
    padding: 15px;
    width: 300px;
    height: 180px;
    
    
    /* width: 90%; */
}

.tempName {
    font-weight: bold;
    font-size: xx-large;
    color: #01358C;
    
}

.tempValue {
    font-weight: bold;
    font-size: 65px;
    color: #01358C;
}

#healthy .tempValue{
    color: #01358C;
}

#sick .tempValue{
    color: rgb(215, 15, 15);
}

.lower-mid{
    flex-direction: column;
    flex: 60%;
    align-content: center;
    justify-content: center;
    justify-items: center;
    padding: 20px;
    /* padding-left: 4%; */
}

.lower-mid-content{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

/* .lower-mid-content{
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
     
} */

.img-responsive {
    max-width: 100%;  
    /* align-self: stretch; */
    
}
/* img {max-width:100%;} */

.lower-right{
    display: flex;
    flex-direction: column;
    flex: 22.5%;
    align-items: center;
    justify-items: center;
    /* justify-content: center; */
    gap: 2rem;
    align-items: center;
    margin-top: 20vh;
    padding-left: 20px;
}

.inner-lower-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 15px;
    border-style: solid;
    border-color: #9CADCA;
    width: 300px;
    height: 180px;
    
    
    /* width: 90%; */
    /* height: 180px; */
    
    /* width: 90%; */
}

.dayCount{
    font-weight: bold;
    font-size: 65px;
    color: #01358C;
    
}

.dayText {
    font-weight: bold;
    font-size: xx-large;
    color: #01358C;
}

.toolDays{
    background-color: rgb(65, 115, 254);
    color: white;
    border-radius: 30px;
}

.logOut {
    display: flex;
    align-self: flex-end;
    /* margin-top: auto; */
    
}

.logOutBtn {
    font-size: 24px;
    font-weight: bold;
    color:#01358C;
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
   

}


@media screen and (max-width: 1250px){
    .upper-container {
      display: flex;
      flex-direction: column;
      flex: 80%;
      padding: 20px;
      align-items: center;
    }
    

  }

@media screen and (max-width: 1100px){
    .lower-container {
        display: flex;
        flex-direction: column;
        flex: 80%;
        padding: 20px;
        align-items: center;
        gap: 3rem;
      }

    .img-responsive {
        max-width: 75%;  
    }

    .logOutBtn {
        justify-items: center; /* Center the button horizontally */
        margin: 0 auto; /* Center the button vertically */
        
    }
    .lower-right{
        display: flex;
        flex-direction: column;
        flex: 20%;
        align-items: center;
        /* justify-items: center; */
        /* justify-content: center; */
        gap: 2rem;
        align-items: center;
        margin-top: 0vh;
    }
    .lower-left{
        display: flex;
        flex-direction: column;
        flex: 20%;
        align-items: center;
        /* justify-items: center; */
        /* justify-content: center; */
        margin-top: 0vh;
    }
    .HomePage {
        
        font-family: lexend ;
        background-image: url('assets/first\ blob.png'), url('assets/second\ blob.png');
        background-repeat: no-repeat, no-repeat;
        background-position: left top,right bottom;
        width: 100%, 100%;
        background-size: 30%, 40%;
        /* height: max-content; */
    
    }

}




p.lUpdate {
    opacity: 0.42;
    font-size: 16px;
    font-weight: 500;
}





div.upleft {
    width: 28%;
    text-align: left;
    float: left;
    opacity: 0;
}

.warning{
    display: flex;
    min-height: 60px;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the icon when in column layout */
    /* order: 1; Place the icon above the text when window width is smaller */
  }
  
  
  @media (max-width: 600px) {
    .warning {
      flex-direction: column;
    }
    
    
  }






