.Inquiries-body {
  background: linear-gradient(180deg, rgb(230, 239, 255) 0%, rgb(255, 255, 255) 100%);
  
}


.flexbox-container{
    display: flex;
    flex-direction: flex-start;
    justify-content: center ; 
    align-content: center;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 25px;
    padding-bottom: 0px;
    height: 100px;
    font-family: "Lexend";
    font-size: 16px;
  }
  
  .navBar {
    color: #01358C;
    background-color: #E6EFFF;
    border-style:solid;
    border-color:#01358C;
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 10%;
    /* margin-bottom: 42px; */
    width: 80%;
    height: 36px;
    font-size:18px;
    text-align: center;
    border-radius:8px;
    font-family: Lexend;
    font-weight: 700;
    
}



  .navbar-item {
    text-align: center;
    line-height: 75px;
    margin: 10px;
    display: flex;
  
  }
  
  
  .content-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 0%;
    gap: 20px;
  }
  
  .content-left{
    display: flex;
    flex-direction: column;
    flex: 60%;
    padding: 20px;
  
  }
  
  .content-right{
    display: flex;
    flex-direction: column;
    flex: 30%;
    padding: 20px;
    
    
  }
  
  @media screen and (max-width: 1000px) {
    .content-left,.content-right {
      flex: 100%
    }
  }
  
  @media screen and (min-width: 1200px) and (max-width: 1500px){
    .content-left {
      display: flex;
      flex-direction: column;
      flex: 50%;
      padding: 20px;
    }
    
  }
  
  /* 
  .flexbox-item-1 {
  min-height: 100px;
  width: 200px;
  }
  
  .flexbox-item-2 {
    min-height: 100px;
    width: 200px;
    flex-grow: 2;
    }
     */
  