@import "@fontsource/lexend/700.css";

.logDiv {
    background: linear-gradient(180deg, #E6EFFF 0%, #FFF 100%);
    font-family: Lexend;
}

.containerLogin{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 15px;
}

.loginLogo {
    width: 20%;
    margin-left: 40%;
    margin-top: 2%;
    padding: 20px;
}

.login {
    color: #00286B;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.25px;
}

.labelClass {
    line-height: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 15px;
    /* margin: 30px; */
}

.pLogin {
    color: #00286B;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -0.25px;
}

.inClass {
    width: 30%;
    height: 40px;
    margin-left: 35%;
    margin-right: 35%;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.25);
    border: none;
    background: #E3EDFF;
}

.passSpan {
    margin-top: 25px;
}

.bottomLogin {
    display: flex;
    margin-left: 35%;
    margin-right: 35%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.rememb {
    display: flex;
    align-items: center;
    gap: 5px;
}

.remembText {
    color: #00286B;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.25px;
}

.forgotPass {
    color: #00286B;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.25px;
    /* margin-left: 13%;
    margin-right: 35%; */
    text-align: right;
}

.submitDiv {
    margin: 5%;
}

.submitButton {
    width: 20%;
    height: 60px;
    border-radius: 15px;
    box-shadow: 4px 8px 9px 0px rgba(0, 0, 0, 0.20);
    margin-left: 40%;
    margin-right: 40%;
    transition-duration: 0.4s;
    color: #00286B;
    font-size: 30px;
    font-weight: 700;
}