.back {
    background: linear-gradient(180deg, rgb(230, 239, 255) 0%, rgb(255, 255, 255) 100%);
    font-family: Lexend;
    font-weight: 700;
}


.containerLogs{
    max-width: 100%;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    margin: 5%;
    gap: 40px;
}

.containerValue {
    /* border: 1px solid #d40909; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

.boxValue{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
    max-width: 240px;
    gap: 2rem;
}


.Plot{
    min-width: 70%;
}

#healthy .Data{
    font-size: 40px;
    background: #F4F8FF;
    /* border: 3px solid rgba(0, 0, 0, 0.05);  */
    border-radius: 42px;
    box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.25);
    color: #01358C;
    min-width: 240px;
    position: relative;
    text-align: center;
    padding: 40px 0;
}

#sick .Data{
    font-size: 40px;
    background: #fffefe;
    /* border: 3px solid rgba(0, 0, 0, 0.05);  */
    border-radius: 42px;
    box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.25);
    color: #d80000;
    min-width: 240px;
    position: relative;
    text-align: center;
    padding: 40px 0;
}


