
.nav{
    transition: .3s;
}
.sticky-nav{
    background: rgb(209, 224, 255);
}




.selectedItem {
    opacity: 100%;
    margin: auto;
}

.unselectedItem {
    opacity: 42%;
    margin: auto;
}

div.top {
    opacity: 0%;
    font-size:2px;
}

div.bottom {
}

div.left {
    width: 25%;
    float: left;
}

div.middle {
    width: 25%;
    float: left;
}

div.right {
    width: 25%;
    float: left;
}

img.pages {
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 5%;
}

span.pages {
    margin-right: 10%;
}