

.navBar {
    display: flex;
    flex-direction: flex-start;
    justify-content: center ; 
    border-style:solid;
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 36px;
     
}

.navItem {
    font-size: 16px;
    font-family: Lexend;
    font-weight: normal;
}


.flexbox-container{
    display: flex;
    flex-direction: flex-start;
    justify-content: center ; 
    align-content: center;
    margin-top: 0px;
    margin-right: 10%;
    margin-left: 10%;
    /* padding-top: 25px; */
    padding-bottom: 0px;
    height: 100px;
    font-family: "Lexend";
    font-size: 16px;
  }